*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(-45deg,#f5f6fa,#dbeafe,#e0e7ff,#f5f6fa);
background-size:400% 400%;
animation:bg 10s infinite;
color:#333;
}

@keyframes bg{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

nav{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:rgba(15,23,42,0.8);
backdrop-filter:blur(10px);
color:white;
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

header{
text-align:center;
padding:50px 20px;
}

.profile{
width:150px;
border-radius:50%;
animation:float 3s infinite ease-in-out;
}

@keyframes float{
50%{transform:translateY(-10px);}
}

.btn{
background:#2563eb;
color:white;
padding:10px 20px;
border-radius:6px;
border:none;
cursor:pointer;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 10px #2563eb;
}

section{
padding:60px 20px;
text-align:center;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px) scale(1.05);
}

.project{
background:white;
padding:20px;
max-width:500px;
margin:auto;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.reveal{
opacity:0;
transform:translateY(40px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

#progressBar{
position:fixed;
top:0;
left:0;
height:4px;
background:#2563eb;
width:0%;
z-index:9999;
}

.dark{
background:#0f172a;
color:white;
}

.dark .card,
.dark .project{
background:#1e293b;
color:white;
}/* FOOTER */
footer {
    background: #0f172a;
    color: white;
    padding: 15px;
    text-align: center;
}

/* MOBILE */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
